<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Story 1</title>
<link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
    body {
    font-family: 'Playfair Display';font-size: 22px;
    background-color:#f1e3dd;
}
h1 {
  color:#667292;
  text-align: center;
}
p {
  font-size: 18px;
}
img {
    width:128px;
    height:128px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
</head>
<body>

<h1>Syifa Rizka Sagita</h1>
<img src="{% static 'foto-profil.JPG' %}">
<p>NPM: 1906299181</p>
<p>Angkatan: 2019</p>
<p>Tempat kuliah: Universitas Indonesia</p>
<p>Hobi: nonton</p>
<h3>Deskripsi diri</h3>

</body>
</html>